* {
	box-sizing: border-box;
}

body {
	background-color: Silver;
	text-align: center;
	margin: 0;
}

span {
	text-align: center;
	color: white;
	height: 15px;
}

.calcDisplayBorderOuter {
  border-style: solid;
  border-width: 7px;
  border-color: black;
}

.calcDisplayBorderInner {
  margin:0;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.calcDisplay {
  font-family: Segment7;
  background-color: #777A07;
  color: #242B0A;
  font-size: 2em;
  margin: 0;
  padding: 0.2em 0.75em;
  text-align: right;
  border-style: solid;
  border-width: 7px 14px;
  border-color: black;
}

.branding {
	height: 50px;
	overflow: auto;
	margin: 15px 0 30px 0;
}

.branding > hr {
  margin-top: 21px;
  margin-right: 5px;
}

.branding > img {
	float: right;
}

.advancedKeypad {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #3a4042;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 32.87px;
	height: 40px;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	height: 100%;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	border: 1px #8C8C8C inset;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 34px;
	width: 8px;
	left: 2px;
	bottom: 2px;
	background-color: #333333;
	border: 1px #4D4D4D outset;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.advanced-btns {
	display: flex;
	flex-direction: column;
	width: 50px;
	height: 60px;
	padding: 8px;
	font-size: 0.7rem;
	font-weight: bold;
	font-family: sans-serif;
	border: 1px solid white;
}

.top {
	border-top: none;
}
.left {
	border-left: none;
}
.right {
	border-right: none;
}
.bottom {
	border-bottom: none;
}

.advanced-btns > button {
	border-radius: 3px;
	height: 20px;
}

.red {
	color: red;
}

.italics {
	font-style: italics;
}

.blue {
	color: #5bb2cf;
}

.overline {
	text-decoration: overline;
}

.calcKeypad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.calcKeypad > button {
	background-color: black;
	color: white;
	justify-content: center;
	border-radius: 10px;
	height: 40px;
	width: 45px;
	margin: 5px;
	font-weight: bold;
}

.calculator-border {
	width: 390px;
	border: 5px solid black;
	border-radius: 5px;
	margin: 40px auto;
}

.calculator {
	border-top: 10px solid #E6E6E6;
	border-right: 20px ridge #CCCCCC;
	border-bottom: 20px ridge #CCCCCC;
	border-left: 20px groove #CCCCCC;
	padding: 10px 15px;
}


footer {
	background-color: DarkGrey;
	height: 35px;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}